body{
   
    background-color: rgb(231, 193, 179);
    margin-top: 100px;
    border: darkblue;
}

h1{
    margin-top: 20px;
    margin-left: 40px;
    color: rgb(185, 10, 10);
    background-color: darkkhaki;
    padding: 5px;
    width: 460px;
    display: flex; 
    align-items: center; 
    justify-content: center;
    border: 1px solid red;

}

h2{
    margin: 20px;
    padding: 20px;
    display: flex; 
    align-items: center; 
    justify-content: center;
    color: darkslateblue;
}